@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Header styling */
.header {
    background-color: rgba(31,41,55,1);
    color: rgb(255,255,255);
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 16px 100px 50px 100px;
}

.header-logo {
    font-weight: bold;
}

.header-links {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.header-links a {
    text-decoration: none;
    color: rgb(255,255,255);
    font-weight: lighter;
    font-size: 10px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 50px 100px;
}

.hero-title {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 8px;
}

.hero-subtitle {
    font-size: 10px;
    font-weight: lighter;
    margin-bottom: 8px;
}

.hero-button {
    background-color: rgba(59,130,246,1);
    color: rgba(255, 255, 255,1);
    padding: 5px 24px;
    border-radius: 5px;
    border-width: 0px;
}

.hero-image img {
    width: 400px;
    height: auto;
}

/* Main content styling */
.main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.main-section {
    flex: 1;
}

.first-section {
    text-align: center;
    padding: 15px 230px;
}

.first-section-header{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.box-grid {
    display: flex;
    gap: 40px;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 120px;
    height: 120px;
    border: 2px solid rgb(0,0,255);
    border-radius: 5px;
    margin-bottom: 8px;
}

.box-text {
    font-size: 12px;
    font-weight: lighter;
}
.second-section {
    background-color: rgba(229,231,235, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 90px 230px;
}

.section-quote {
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 8px;
}

.section-quote-author {
    font-size: 12px;
    font-weight: bold;
}

.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 90px;
}

.cta-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 30px 70px;
    background-color: rgba(59,130,246,1);
    border-radius: 5px;
    color: rgba(255,255,255,1);
    width: 100%
}

.cta-title {
    font-weight: bold;
}

.cta-subtitle {
    font-size: 10px;
    font-weight: lighter;
}

.cta-button {
    color: rgba(255,255,255, 1);
    background-color: rgba(59,130,246,1);
    border: 1px solid white;
    padding: 5px 24px;
    border-radius: 5px;
}

.footer {
    flex: 0 0 auto;
}